Author: Cezary Januszek

*Created on Tuesday, November 7th 2023*
# Flight delays prediction

#### Research question: *What is the influence of the different airlines/airports on the flight delays?*

The goal of this challenge is to investigate US flight delays and cancellations data from 2015.

First some exploratory data analysis is done to try to find some insights from general statistics about the airlines, airports and average flight delays. Second, using this same data the goal consists in creating a flight delay prediction model by implementing a:
1) baseline model 
2) complex model (Neural Network or other Deep Learning method)

The second model should have better performance than the baseline due to its increased complexity, which will make it also more difficult to explain its predictions. This is known as the accuracy-interpretability trade-off. Therefore, an interpretability framework will be added to the second model to allow to better understand and potentially explain the obtained predictions.

In [3]:
# Imports
%load_ext autoreload
%autoreload 2

from IPython.core.pylabtools import figsize
figsize(10, 8)

import os
import pandas as pd
import numpy as np
import datetime

from src.helper_functions import convert_to_time, get_arrival_date

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# I. Data cleaning and pre-processing notebook

Our data consists of 3 dataframes:
1. **Airlines** - associates IATA CODE for the airline with its airline name
2. **Airports** - contains information about airports: IATA code, airport name, city, state, latitude and longitude
3. **Flights** - contains all information about flights with the following essential variables:

    - *YEAR, MONTH, DAY, DATE_OF_WEEK*: date of flight
    - *AIRLINE*: IATA CODE for the airline
    - *FLIGHT_NUMBER*: id number of the flight
    - *TAIL_NUMBER*: code to identify a specific plane
    - *ORIGIN_AIRPORT and DESTINATION_AIRPORT*: origin and destination airport of the flight
    - *SCHEDULED_DEPARTURE and SCHEDULED_ARRIVAL*: scheduled times of flight departure and landing
    - *DEPARTURE_TIME and ARRIVAL_TIME*: real times of flight takeoff and landing
    - *DEPARTURE_DELAY and ARRIVAL_DELAY*: differences between scheduled and real times of flight departure and arrival
    - *DISTANCE*: travel distance between origin and destination airports (in miles)
    - *SCHEDULED_TIME*: scheduled travel time between origin and destination airports

In [24]:
#---------------------------
# DATA LOADING
#---------------------------

#Load data from csv files
airlines_df = pd.read_csv(os.path.abspath('./Data/csv/airlines.csv'))
airports_df = pd.read_csv(os.path.abspath('./Data/csv/airports.csv'))
flights_df = pd.read_csv(os.path.abspath('./Data/csv/flights.csv'), low_memory=False)


# Set IATA code as index for the airlines and airports df for easier use
airlines_df = airlines_df.set_index('IATA_CODE')
airports_df = airports_df.set_index('IATA_CODE')

## Data cleaning

The very first step of our data science pipeline consists in cleaning the dataset to make sure that only useful information for the next steps is kept and that outliers or missing values won't influence the performance of the prediction models.

### 1) Dataframes inspection and checking missing values and duplicates

In [12]:
# AIRLINES - everything clear here
airlines_df

                                AIRLINE
IATA_CODE
UA                United Air Lines Inc.
AA               American Airlines Inc.
US                      US Airways Inc.
F9               Frontier Airlines Inc.
B6                      JetBlue Airways
OO                Skywest Airlines Inc.
AS                 Alaska Airlines Inc.
NK                     Spirit Air Lines
WN               Southwest Airlines Co.
DL                 Delta Air Lines Inc.
EV          Atlantic Southeast Airlines
HA               Hawaiian Airlines Inc.
MQ         American Eagle Airlines Inc.
VX                       Virgin America

In [13]:
# AIRPORTS - checking missing values
print(airports_df.isnull().sum())
airports_df[(airports_df['LATITUDE'].isnull()) | (airports_df['LONGITUDE'].isnull())]

AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     3
LONGITUDE    3
dtype: int64

,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
IATA_CODE,,,,,,
ECP,Northwest Florida Beaches International Airport,Panama City,FL,USA,NaN,NaN
PBG,Plattsburgh International Airport,Plattsburgh,NY,USA,NaN,NaN
UST,Northeast Florida Regional Airport (St. August...,St. Augustine,FL,USA,NaN,NaN

In [14]:
# Manual insertion of missing latitude and longitude values for the 3 airports
airports_df.loc['ECP', ['LATITUDE', 'LONGITUDE']] = [30.3417, -85.7973]
airports_df.loc['PBG', ['LATITUDE', 'LONGITUDE']] = [44.6504, -73.4674]
airports_df.loc['UST', ['LATITUDE', 'LONGITUDE']] = [29.9554, -81.3371]
# check
print(airports_df.isnull().sum())

AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     0
LONGITUDE    0
dtype: int64

In [15]:
# FLIGHTS
#first inspection of flights df columns
flights_df.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [16]:
# check of missing values percentage per column
pd.DataFrame(round(flights_df.isnull().sum(axis=0)/len(flights_df)*100, 3), columns=['Missing values percentage'])

                     Missing values percentage
YEAR                                     0.000
MONTH                                    0.000
DAY                                      0.000
DAY_OF_WEEK                              0.000
AIRLINE                                  0.000
FLIGHT_NUMBER                            0.000
TAIL_NUMBER                              0.253
ORIGIN_AIRPORT                           0.000
DESTINATION_AIRPORT                      0.000
SCHEDULED_DEPARTURE                      0.000
DEPARTURE_TIME                           1.481
DEPARTURE_DELAY                          1.481
TAXI_OUT                                 1.530
WHEELS_OFF                               1.530
SCHEDULED_TIME                           0.000
ELAPSED_TIME                             1.806
AIR_TIME                                 1.806
DISTANCE                                 0.000
WHEELS_ON                                1.590
TAXI_IN                                  1.590
SCHEDULED_ARRIVAL                        0.000
ARRIVAL_TIME                             1.590
ARRIVAL_DELAY                            1.806
DIVERTED                                 0.000
CANCELLED                                0.000
CANCELLATION_REASON                     98.455
AIR_SYSTEM_DELAY                        81.725
SECURITY_DELAY                          81.725
AIRLINE_DELAY                           81.725
LATE_AIRCRAFT_DELAY                     81.725
WEATHER_DELAY                           81.725

In [17]:
# check of the percentage of diverted and cancelled flights
pd.DataFrame(round(flights_df[['DIVERTED', 'CANCELLED']].sum(axis=0)/len(flights_df)*100, 3), columns=['Percentage of flights'])

           Percentage of flights
DIVERTED                   0.261
CANCELLED                  1.545

Several columns have high missing values percentage: *CANCELLATION_REASON* and *DELAY reasons*. As they should provide information about why a cancellation or delay occurred, we would not use them in any case for our prediction model, so they can be dropped without having any issues later on. 

Additionally, we see that diverted and cancelled flights are a very small percentage of all the flights in our dataset and do not actually provide direct information about delays. Therefore, these fligths are also dropped from the data. One could argue that diverted flights are actually large delays, however within our dataset we are not able to estimate the time it takes for passengers to be transported to the destination from the airport that the plane was diverted to. The same goes for cancellations, those could be defined as infinite delay, but it would not help us to train an efficient model for delay prediction.

In [18]:
# Dropping columns with high missing values factor and DIVERTED and CANCELLED columns
flights_df = flights_df.drop(['CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY', 
                              'DIVERTED', 'CANCELLED'], axis=1)

# check if there are not different data entries for the same flight
flights_df[flights_df[['YEAR', 'MONTH', 'DAY', 'AIRLINE', 'FLIGHT_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT']].duplicated()]

Empty DataFrame
Columns: [YEAR, MONTH, DAY, DAY_OF_WEEK, AIRLINE, FLIGHT_NUMBER, TAIL_NUMBER, ORIGIN_AIRPORT, DESTINATION_AIRPORT, SCHEDULED_DEPARTURE, DEPARTURE_TIME, DEPARTURE_DELAY, TAXI_OUT, WHEELS_OFF, SCHEDULED_TIME, ELAPSED_TIME, AIR_TIME, DISTANCE, WHEELS_ON, TAXI_IN, SCHEDULED_ARRIVAL, ARRIVAL_TIME, ARRIVAL_DELAY]
Index: []

[0 rows x 23 columns]

**IMPORTANT:** Here, we have to define what kind of delays we will be considering for our prediction model - departure delays and/or arrival delays. 

For the scope of this assignment, we **focus strictly on ARRIVAL DELAYS**, as those are the most interesting one for travelers. Arrival delays can negetively affect flight transfers at destination airport or travelers' plans once they arrive at their destination. On the other hand, departure delays strongly influence corresponding arrival delays, but otherwise rarely make travelers change their plans as they are known in very short advance on their own (just before departure or once passengers are already on board). Very often departure delays are provoked by previous flight arrival delay, which confirms that predicting the latter seems more impactful.

In [19]:
# Dropping other columns not used for the task of arrival delays prediction 
flights_df = flights_df.drop(['WHEELS_OFF', 'WHEELS_ON', 'AIR_TIME', 'ELAPSED_TIME', 'FLIGHT_NUMBER', 'TAIL_NUMBER'], axis=1)

# for the resting columns only a small percentage is NaN so we can drop these rows even if we lose some data
flights_df = flights_df.dropna()
# drop duplicates if there are any
flights_df = flights_df.drop_duplicates()

## Data pre-processing

In [20]:
#----------------------------------
# DATES and TIMES
#----------------------------------

# Create DATES column from YEAR, MONTH, DAY
flights_df['DATE'] = pd.to_datetime(flights_df[['YEAR', 'MONTH', 'DAY']])

# Convert departure and arrival times to HH:MM format
# initially the departure and arrival times are in either int or float format
flights_df['SCHEDULED_DEPARTURE'] = flights_df['SCHEDULED_DEPARTURE'].apply(convert_to_time)
flights_df['SCHEDULED_ARRIVAL'] = flights_df['SCHEDULED_ARRIVAL'].apply(convert_to_time)
flights_df['DEPARTURE_TIME'] = flights_df['DEPARTURE_TIME'].apply(convert_to_time)
flights_df['ARRIVAL_TIME'] = flights_df['ARRIVAL_TIME'].apply(convert_to_time)

# Get arrival date based on departure and arrival times
flights_df['ARRIVAL_DATE'] = flights_df[['SCHEDULED_DEPARTURE', 'SCHEDULED_ARRIVAL', 'DATE']].apply(get_arrival_date, axis=1)

In [21]:
#-------------------------------------------
# Airline names
#-------------------------------------------

# Dictionary for airline names with IATA code as key and airline name as value
airline_name = airlines_df['AIRLINE'].to_dict()

# Replace IATA code by full name for each airline for readability reason
# Airports codes are not replaced as in this case IATA codes are often generally used and more easily interpreted
flights_df['AIRLINE'] = flights_df['AIRLINE'].map(airline_name)

In [22]:
# Final dropping of columns 
flights_df = flights_df.drop(['YEAR', 'MONTH', 'DAY'], axis=1).reset_index(drop=True)
flights_df

,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,SCHEDULED_TIME,DISTANCE,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DATE,ARRIVAL_DATE
0,4,Alaska Airlines Inc.,ANC,SEA,00:05:00,23:54:00,-11.0,21.0,205.0,1448,4.0,04:30:00,04:08:00,-22.0,2015-01-01,2015-01-01
1,4,American Airlines Inc.,LAX,PBI,00:10:00,00:02:00,-8.0,12.0,280.0,2330,4.0,07:50:00,07:41:00,-9.0,2015-01-01,2015-01-01
2,4,US Airways Inc.,SFO,CLT,00:20:00,00:18:00,-2.0,16.0,286.0,2296,11.0,08:06:00,08:11:00,5.0,2015-01-01,2015-01-01
3,4,American Airlines Inc.,LAX,MIA,00:20:00,00:15:00,-5.0,15.0,285.0,2342,8.0,08:05:00,07:56:00,-9.0,2015-01-01,2015-01-01
4,4,Alaska Airlines Inc.,SEA,ANC,00:25:00,00:24:00,-1.0,11.0,235.0,1448,5.0,03:20:00,02:59:00,-21.0,2015-01-01,2015-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5714003,4,JetBlue Airways,LAX,BOS,23:59:00,23:55:00,-4.0,22.0,320.0,2611,4.0,08:19:00,07:53:00,-26.0,2015-12-31,2016-01-01
5714004,4,JetBlue Airways,JFK,PSE,23:59:00,23:55:00,-4.0,17.0,227.0,1617,3.0,04:46:00,04:30:00,-16.0,2015-12-31,2016-01-01
5714005,4,JetBlue Airways,JFK,SJU,23:59:00,23:50:00,-9.0,17.0,221.0,1598,8.0,04:40:00,04:32:00,-8.0,2015-12-31,2016-01-01
5714006,4,JetBlue Airways,MCO,SJU,23:59:00,23:53:00,-6.0,10.0,161.0,1189,3.0,03:40:00,03:30:00,-10.0,2015-12-31,2016-01-01
5714007,4,JetBlue Airways,JFK,BQN,23:59:00,00:14:00,15.0,14.0,221.0,1576,5.0,04:40:00,04:42:00,2.0,2015-12-31,2016-01-01

In [23]:
#--------------------------------
# ORIGIN and DESTINATION airports
#--------------------------------
# For the month of October instead of having IATA codes there are some number IDs in the ORIGIN_AIRPORT and DESTINATION_AIRPORT columns
flights_df[flights_df['DATE'].apply(lambda x: x.month) == 10].head()

,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,SCHEDULED_TIME,DISTANCE,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DATE,ARRIVAL_DATE
4299046,4,American Airlines Inc.,14747,11298,00:05:00,00:15:00,10.0,15.0,237.0,1660,4.0,06:02:00,05:43:00,-19.0,2015-10-01,2015-10-01
4299047,4,Delta Air Lines Inc.,14771,13487,00:05:00,00:16:00,11.0,14.0,213.0,1589,7.0,05:38:00,05:28:00,-10.0,2015-10-01,2015-10-01
4299048,4,Spirit Air Lines,12889,13487,00:05:00,00:00:00,-5.0,15.0,177.0,1299,4.0,05:02:00,04:48:00,-14.0,2015-10-01,2015-10-01
4299049,4,American Airlines Inc.,12892,13303,00:10:00,00:07:00,-3.0,28.0,296.0,2342,7.0,08:06:00,08:13:00,7.0,2015-10-01,2015-10-01
4299050,4,American Airlines Inc.,14771,11057,00:10:00,00:08:00,-2.0,12.0,291.0,2296,13.0,08:01:00,07:50:00,-11.0,2015-10-01,2015-10-01

In [17]:
# Completing the ORIGIN and DESTINATION airport columns by replacing the airport ID for the month of october by assocaited IATA code
# Data was taken from https://www.transtats.bts.gov/DL_SelectFields.aspx?gnoyr_VQ=FGJ&QO_fu146_anzr=b0-gvzr (Bureau of Transportation Statistics)
id_airports = pd.read_csv(os.path.abspath('./Data/csv/AIRPORT_ID_ORIGIN.csv'))
code_airports= pd.read_csv(os.path.abspath('./Data/csv/AIRPORT.csv'))
# merge ID numbers with IATA code by airport description
airport_code_id = id_airports.merge(code_airports, on='Description')
airport_code_id = airport_code_id.rename(columns={'Code_x': 'Code', 'Code_y': 'IATA_CODE'})
airport_code_id['AIRPORT'] = airport_code_id['Description'].apply(lambda x: x.split(':')[-1])
airport_code_id['CITY'] = airport_code_id['Description'].apply(lambda x: x.split(',')[0])
airport_code_id['STATE'] = airport_code_id['Description'].apply(lambda x: x.split(',')[-1].split(':')[0])
airport_code_id['Code'] = airport_code_id['Code'].apply(str)
# create ID number to IATA dictionary
id_airports = airport_code_id.set_index('Code')['IATA_CODE'].to_dict()
id_airports

{'10001': '01A',
 '10003': '03A',
 '10004': '04A',
 '10005': '05A',
 '10006': '06A',
 '10007': '07A',
 '10008': '08A',
 '10009': '09A',
 '10010': '1B1',
 '10011': 'DQR',
 '11398': 'DQR',
 '10012': '1N7',
 '10013': '8F3',
 '10014': 'A01',
 '10015': 'A02',
 '10016': 'A03',
 '10017': 'A04',
 '10018': 'A05',
 '10019': 'A06',
 '10020': 'A07',
 '10021': 'A08',
 '10022': 'A09',
 '10023': 'TLK',
 '10024': 'A11',
 '10025': 'A12',
 '10026': 'A13',
 '10027': 'A14',
 '10028': 'A15',
 '10029': 'A16',
 '10030': 'A17',
 '10031': 'A18',
 '10033': 'DQH',
 '11388': 'DQH',
 '10034': 'A21',
 '10035': 'A22',
 '10036': 'A23',
 '10037': 'A24',
 '10038': 'A25',
 '10039': 'A26',
 '10040': 'A27',
 '10041': 'A28',
 '10042': 'A29',
 '10043': 'A30',
 '10044': 'A31',
 '10047': 'A34',
 '10049': 'A36',
 '10050': 'A37',
 '10051': 'A38',
 '10052': 'A39',
 '10053': 'A40',
 '10054': 'A41',
 '10055': 'A42',
 '10056': 'A43',
 '10058': 'A45',
 '10059': 'A46',
 '10060': 'A47',
 '10061': 'A48',
 '10062': 'A49',
 '10063': 'A50',
 '10064': 'A51',
 '10065': 'A52',
 '10066': 'A53',
 '10067': 'A54',
 '10069': 'A56',
 '10070': 'VZK',
 '10071': 'A58',
 '10072': 'A59',
 '10074': 'A61',
 '10075': 'A62',
 '10076': 'A63',
 '10078': 'A65',
 '10079': 'A66',
 '10080': 'A67',
 '10082': 'A69',
 '10083': 'A70',
 '10084': 'A71',
 '10085': 'A72',
 '10086': 'A73',
 '10087': 'A74',
 '10088': 'A75',
 '10089': 'A76',
 '10090': 'A77',
 '10091': 'A78',
 '10092': 'A79',
 '10093': 'A80',
 '10094': 'A81',
 '10095': 'A82',
 '10096': 'A83',
 '10097': 'A84',
 '10098': 'A85',
 '10100': 'A87',
 '10102': 'A89',
 '10103': 'A90',
 '10104': 'A91',
 '10105': 'A92',
 '10106': 'A93',
 '10107': 'A96',
 '10108': 'A96',
 '10109': 'A96',
 '10110': 'A97',
 '10111': 'A98',
 '10112': 'A99',
 '10113': 'AA1',
 '10116': 'AA4',
 '10117': 'AA5',
 '10118': 'AAA',
 '10119': 'AAB',
 '10120': 'AAC',
 '10121': 'AAE',
 '10122': 'AAF',
 '10123': 'AAH',
 '10124': 'AAI',
 '10125': 'AAL',
 '10126': 'AAM',
 '10127': 'AAN',
 '10128': 'AAO',
 '10129': 'AAQ',
 '10130': 'AAR',
 '10131': 'AAU',
 '10132': 'AAX',
 '10134': 'ABD',
 '10135': 'ABE',
 '10136': 'ABI',
 '10137': 'ABJ',
 '10138': 'ABK',
 '10139': 'ABL',
 '10140': 'ABQ',
 '10141': 'ABR',
 '10142': 'ABS',
 '10143': 'ABT',
 '10144': 'ABV',
 '10145': 'ABX',
 '10146': 'ABY',
 '10147': 'ABZ',
 '10148': 'ACA',
 '10149': 'ACB',
 '10150': 'ACC',
 '10151': 'ACE',
 '10152': 'ACH',
 '10153': 'ACI',
 '10154': 'ACK',
 '10155': 'ACT',
 '10156': 'ACU',
 '10157': 'ACV',
 '10158': 'ACY',
 '10159': 'ADA',
 '10160': 'ADB',
 '10161': 'ADC',
 '10162': 'ADD',
 '10163': 'ADE',
 '10164': 'ADJ',
 '10165': 'ADK',
 '10166': 'ADL',
 '10167': 'ADM',
 '10168': 'ADN',
 '10169': 'ADO',
 '10170': 'ADQ',
 '10171': 'ADS',
 '10172': 'NSF',
 '13748': 'NSF',
 '10173': 'ADX',
 '10174': 'ADZ',
 '10175': 'DHF',
 '10176': 'AED',
 '10177': 'AEG',
 '10178': 'AEH',
 '10180': 'AEO',
 '10181': 'AEP',
 '10182': 'AER',
 '10183': 'AES',
 '10184': 'AET',
 '10185': 'AEX',
 '10186': 'AEY',
 '10188': 'AFA',
 '10189': 'AFF',
 '10190': 'AFK',
 '10191': 'AFO',
 '10192': 'AFP',
 '10194': 'AFW',
 '10195': 'AFY',
 '10196': 'AGA',
 '10197': 'AGB',
 '10198': 'AGC',
 '10199': 'AGF',
 '10200': 'AGG',
 '10201': 'AGH',
 '10202': 'AGK',
 '10203': 'AGL',
 '10204': 'AGN',
 '10205': 'AGP',
 '10206': 'AGQ',
 '10207': 'AGR',
 '10208': 'AGS',
 '10209': 'AGT',
 '10210': 'AGU',
 '10211': 'AGV',
 '10212': 'AGX',
 '10213': 'AHA',
 '10214': 'AHB',
 '10215': 'AHD',
 '10216': 'AHN',
 '10217': 'AHO',
 '10218': 'AHS',
 '10219': 'AHT',
 '10220': 'AHU',
 '10221': 'AIA',
 '10222': 'AIB',
 '10223': 'AID',
 '10224': 'AIK',
 '10225': 'AIN',
 '10226': 'AIT',
 '10227': 'AIY',
 '10228': 'AIZ',
 '10229': 'AJA',
 '10230': 'AJF',
 '10231': 'AJJ',
 '10232': 'AJL',
 '10233': 'AJN',
 '10234': 'AJR',
 '10235': 'AJU',
 '10236': 'AJY',
 '10237': 'AKB',
 '10238': 'AKC',
 '10239': 'AKF',
 '10241': 'AKI',
 '10242': 'AKJ',
 '10243': 'AKK',
 '10244': 'AKL',
 '10245': 'AKN',
 '10246': 'AKO',
 '10247': 'AKP',
 '10248': 'AKR',
 '10249': 'AKS',
 '10250': 'AKT',
 '10251': 'AKX',
 '10252': 'AKY',
 '10253': 'AL1',
 '10254': 'AL2',
 '10255': 'AL3',
 '10256': 'ALA',
 '10257': 'ALB',
 '10258': 'ALC',
 '10259': 'ALE',
 '10260': 'ALF',
 '10261': 'ALG',
 '10262': 'ALH',
 '10263': 'ALI',
 '10264': 'ALJ',
 '10265': 'ALK',
 '10266': 'ALM',
 '10267': 'ALN',
 '10268': 'ALO',
 '10269': 'ALP',
 '10270': 'ALQ',
 '10271': 'ALR',
 '10272': 'ALS',
 '10273': 'ALT',
 '10274': 'ALU',
 '10275': 'ALW',
 '10276': 'ALX',
 '10277': 'ALY',
 '10278': 'ALZ',
 '10279': 'AMA',
 '10280': 'AMD',
 '10281': 'AMF',
 '10282': 'AMG',
 '10283': 'AMH',
 '10284': 'AMI',
 '10285': 'AMK',
 '10286': 'AML',
 '10287': 'AMM',
 '10288': 'AMN',
 '10289': 'AMO',
 '10290': 'AMP',
 '10291': 'AMQ',
 '10292': 'AMS',
 '10294': 'AMW',
 '10295': 'AMX',
 '10296': 'AMY',
 '10297': 'ANA',
 '10298': 'ANB',
 '10299': 'ANC',
 '10300': 'AND',
 '10301': 'ANE',
 '10302': 'ANF',
 '10303': 'ANG',
 '10304': 'ANI',
 '10305': 'ANK',
 '10306': 'ANM',
 '10307': 'ANN',
 '10308': 'ANO',
 '10309': 'ANP',
 '10310': 'ANR',
 '10311': 'ANS',
 '10312': 'ANU',
 '10313': 'ANV',
 '10314': 'ANX',
 '10317': 'AOH',
 '10318': 'AOI',
 '10319': 'AOJ',
 '10320': 'AOK',
 '10321': 'AOL',
 '10322': 'AOO',
 '10323': 'AOR',
 '10324': 'AOS',
 '10325': 'APA',
 '10326': 'APB',
 '10327': 'APC',
 '10328': 'APE',
 '10329': 'APF',
 '10330': 'APG',
 '10331': 'APK',
 '10332': 'APL',
 '10333': 'APN',
 '10334': 'APO',
 '10335': 'APR',
 '10336': 'APT',
 '10337': 'APV',
 '10338': 'APW',
 '10339': 'AQI',
 '10340': 'AQJ',
 '10342': 'AQP',
 '10343': 'AQS',
 '10344': 'AQY',
 '10345': 'AR1',
 '10346': 'AR2',
 '10347': 'ARA',
 '10348': 'ARB',
 '10349': 'ARC',
 '10350': 'ARD',
 '10351': 'ARE',
 '10352': 'ARG',
 '10353': 'ARH',
 '10354': 'ARI',
 '10355': 'ARK',
 '10356': 'ARM',
 '10357': 'ARN',
 '10358': 'ARP',
 '10359': 'ARQ',
 '10360': 'ARS',
 '10361': 'ART',
 '10362': 'ARU',
 '10363': 'ARV',
 '10364': 'ARW',
 '10365': 'ARX',
 '10366': 'ARY',
 '10367': 'ARZ',
 '10368': 'ASA',
 '10369': 'ASB',
 '10370': 'ASC',
 '10371': 'ASD',
 '10372': 'ASE',
 '10373': 'ASG',
 '10374': 'ASH',
 '10375': 'ASI',
 '10376': 'ASJ',
 '10377': 'ASK',
 '10378': 'ASL',
 '10379': 'ASM',
 '10380': 'ASN',
 '10381': 'ASO',
 '10382': 'ASP',
 '10383': 'ASQ',
 '10384': 'ASR',
 '10385': 'AST',
 '10386': 'ASU',
 '10387': 'ASW',
 '10388': 'ASX',
 '10389': 'ASY',
 '10390': 'ATA',
 '10391': 'ATB',
 '10392': 'ATC',
 '10393': 'ATE',
 '10394': 'ATH',
 '10395': 'ATI',
 '10396': 'ATK',
 '10397': 'ATL',
 '10398': 'ATM',
 '10399': 'ATN',
 '10400': 'ATO',
 '10401': 'ATP',
 '10402': 'ATQ',
 '10403': 'ATR',
 '10404': 'ATS',
 '10405': 'ATT',
 '10406': 'ATU',
 '10407': 'ATV',
 '10408': 'ATW',
 '10409': 'ATY',
 '10410': 'ATZ',
 '10411': 'AUA',
 '10412': 'AUC',
 '10413': 'AUD',
 '10414': 'AUG',
 '10415': 'AUH',
 '10416': 'AUK',
 '10417': 'AUM',
 '10418': 'AUN',
 '10419': 'AUO',
 '10420': 'AUP',
 '10421': 'AUQ',
 '10422': 'AUR',
 '10423': 'BSM',
 '10424': 'AUW',
 '10425': 'AUX',
 '10426': 'AUY',
 '10427': 'AUZ',
 '10428': 'AVB',
 '10430': 'AVI',
 '10431': 'AVL',
 '10432': 'AVN',
 '10433': 'AVO',
 '10434': 'AVP',
 '10435': 'AVV',
 '10436': 'AVW',
 '10437': 'CIB',
 '11001': 'CIB',
 '10438': 'AWA',
 '10439': 'AWK',
 '10440': 'AWM',
 '10441': 'AWR',
 '10442': 'AWX',
 '10443': 'AWZ',
 '10444': 'AXA',
 '10445': 'AXB',
 '10446': 'AXC',
 '10447': 'AXD',
 '10448': 'AXM',
 '10449': 'AXN',
 '10450': 'AXP',
 '10451': 'AXS',
 '10452': 'AXT',
 '10453': 'AXU',
 '10454': 'AXV',
 '10455': 'AXX',
 '10456': 'AYL',
 '10457': 'AYP',
 '10458': 'AYQ',
 '10459': 'AYR',
 '10460': 'AYS',
 '10461': 'AYT',
 '10462': 'AYW',
 '10463': 'AZ1',
 '10464': 'AZ2',
 '10465': 'AZ3',
 '10466': 'AZA',
 '10467': 'AZD',
 '10468': 'AZG',
 '10469': 'AZO',
 '10470': 'AZS',
 '10471': 'B19',
 '10472': 'B21',
 '10473': 'BAA',
 '10474': 'BAB',
 '10475': 'BAC',
 '10476': 'BAD',
 '10477': 'BAE',
 '10478': 'BAF',
 '10479': 'BAG',
 '10480': 'BAH',
 '10481': 'BAI',
 '10482': 'GYD',
 '10483': 'BAL',
 '10484': 'BAM',
 '10485': 'BAO',
 '10486': 'BAQ',
 '10487': 'BAR',
 '10489': 'BAU',
 '10490': 'BAV',
 '10491': 'BAX',
 '10492': 'BAY',
 '10493': 'BBA',
 '10494': 'BBC',
 '10495': 'BBF',
 '10497': 'BBI',
 '10498': 'BBO',
 '10499': 'BBQ',
 '10500': 'BBR',
 '10501': 'BBS',
 '10502': 'BBT',
 '10503': 'BBU',
 '10504': 'BBX',
 '10505': 'BBY',
 '10506': 'BBZ',
 '10507': 'BCA',
 '10508': 'BCB',
 '10509': 'BCC',
 '10510': 'BCD',
 '16398': 'BCD',
 '10511': 'BCE',
 '10512': 'BCH',
 '10513': 'BCI',
 '10514': 'BCJ',
 '10515': 'BCL',
 '10516': 'BCM',
 '10517': 'BCN',
 '10518': 'BCS',
 '10519': 'BCT',
 '10520': 'BCY',
 '10521': 'BDA',
 '10522': 'BDB',
 '10523': 'BDE',
 '10524': 'BDG',
 '10525': 'BDH',
 '10526': 'BDI',
 '10527': 'BDJ',
 '10528': 'BDK',
 '10529': 'BDL',
 '10530': 'BDM',
 '10531': 'BDN',
 '10532': 'BDO',
 '10533': 'BDP',
 '10534': 'BDQ',
 '10535': 'BDR',
 '10536': 'BDS',
 '10537': 'BDU',
 '10538': 'BDY',
 '10539': 'BEB',
 '10540': 'BED',
 '10541': 'BEF',
 '10542': 'BEG',
 '10543': 'BEH',
 '10544': 'BEI',
 '10545': 'BEL',
 '10547': 'BEN',
 '10548': 'BEO',
 '10549': 'BER',
 '10550': 'BES',
 '10551': 'BET',
 '10552': 'BEU',
 '10553': 'BEV',
 '10554': 'BEW',
 '10555': 'BEY',
 '10556': 'BFB',
 '10557': 'BFD',
 '10558': 'BFF',
 '10559': 'BFI',
 '10560': 'BFK',
 '10561': 'BFL',
 '10562': 'BFM',
 '10563': 'BFN',
 '10564': 'BFO',
 '10565': 'BFP',
 '10566': 'BFQ',
 '10567': 'BFR',
 '10568': 'BFS',
 '10569': 'BFT',
 '10570': 'BGA',
 '10571': 'BGB',
 '10572': 'BGD',
 '10573': 'BGE',
 '10574': 'BGF',
 '10575': 'BGI',
 '10576': 'BGL',
 '10577': 'BGM',
 '10578': 'BGN',
 '10579': 'BGO',
 '10580': 'BGQ',
 '10581': 'BGR',
 '10582': 'BGS',
 '10583': 'BGT',
 '10584': 'BGU',
 '10585': 'BGW',
 '10586': 'BGX',
 '10587': 'BGY',
 '10588': 'BH1',
 '10589': 'BHB',
 '10590': 'IFP',
 '10591': 'BHD',
 '10592': 'BHE',
 '10593': 'BHG',
 '10594': 'BHH',
 '10595': 'BHI',
 '10596': 'BHJ',
 '10597': 'BHK',
 '10598': 'BHL',
 '10599': 'BHM',
 '10600': 'BHN',
 '10601': 'BHO',
 '10602': 'BHQ',
 '10603': 'BHR',
 '10604': 'BHS',
 '10605': 'BHT',
 '10606': 'BHU',
 '10607': 'BHV',
 '10608': 'BHX',
 '10609': 'BHY',
 '10610': 'BHZ',
 '10611': 'BIA',
 '10612': 'BIC',
 '10613': 'BID',
 '10614': 'BIE',
 '10615': 'BIF',
 '10616': 'BIG',
 '10617': 'BIH',
 '10618': 'BII',
 '10619': 'BIK',
 '10620': 'BIL',
 '10621': 'BIM',
 '10622': 'BIN',
 '10623': 'BIO',
 '10624': 'BIP',
 '10625': 'BIQ',
 '10626': 'BIR',
 '10627': 'BIS',
 '10628': 'BIV',
 '10629': 'BIX',
 '10630': 'BJC',
 '10631': 'BJI',
 '10632': 'BJJ',
 '10633': 'BJL',
 '10634': 'BJM',
 '10635': 'BJR',
 '10636': 'BJU',
 '10637': 'BJV',
 '10638': 'BJX',
 '10639': 'BJZ',
 '10640': 'BKC',
 '10641': 'BKE',
 '10642': 'BKF',
 '10643': 'BKG',
 '10644': 'BKH',
 '10645': 'BKI',
 '10646': 'DMK',
 '10647': 'BKL',
 '10648': 'BKM',
 '10650': 'BKO',
 '10651': 'BKQ',
 '10652': 'BKS',
 '10653': 'BKU',
 '10654': 'BKW',
 '10655': 'BKX',
 '10656': 'BKY',
 '10657': 'BKZ',
 '10658': 'BLA',
 '10659': 'BLB',
 '10660': 'BLC',
 '10661': 'BLD',
 '10662': 'BLE',
 '10663': 'BLF',
 '10664': 'BLG',
 '10665': 'BLH',
 '10666': 'BLI',
 '10667': 'BLJ',
 '10668': 'BLK',
 '10669': 'BLL',
 '10670': 'BLM',
 '10671': 'BLO',
 '10672': 'BLP',
 '10673': 'BLQ',
 '10674': 'BLR',
 '10675': 'BLT',
 '10676': 'BLV',
 '10677': 'BLZ',
 '10678': 'BMA',
 '10679': 'BMB',
 '10680': 'BMC',
 '10681': 'BMD',
 '10682': 'BME',
 '10683': 'BMG',
 '10684': 'BMH',
 '10685': 'BMI',
 '10686': 'BMJ',
 '10687': 'BML',
 '10688': 'BMM',
 '10689': 'BMO',
 '10690': 'BMP',
 '10691': 'BMW',
 '10692': 'BMX',
 '10693': 'BNA',
 '10694': 'BNB',
 '10695': 'BND',
 '10696': 'BNE',
 '10697': 'BNF',
 '10698': 'BNG',
 '10699': 'BNI',
 '10700': 'BNK',
 '10701': 'BNL',
 '10702': 'BNN',
 '10703': 'BNO',
 '10704': 'BNS',
 '10705': 'BNX',
 '10706': 'BNZ',
 '10707': 'BOA',
 '10708': 'BOB',
 '10709': 'BOC',
 '10710': 'BOD',
 '10711': 'BOG',
 '10712': 'BOH',
 '10713': 'BOI',
 '10714': 'BOJ',
 '10715': 'BOK',
 '10716': 'BOM',
 '10717': 'BON',
 '10718': 'BOO',
 '10719': 'BOQ',
 '10720': 'BOR',
 '10721': 'BOS',
 '10722': 'BOW',
 '10723': 'BOX',
 '10724': 'BOY',
 '10725': 'BPH',
 '10726': 'BPN',
 '10727': 'BPS',
 '10728': 'BPT',
 '10729': 'BQA',
 '10730': 'BQH',
 '10731': 'BQK',
 '10732': 'BQN',
 '10733': 'BQS',
 '10734': 'BQU',
 '10735': 'BQV',
 '10736': 'BR1',
 '10737': 'BRA',
 '10738': 'BRC',
 '10739': 'BRD',
 '10740': 'BRE',
 '10741': 'BRG',
 '10742': 'BRI',
 '10743': 'BRK',
 '10744': 'BRL',
 '10745': 'BRM',
 '10746': 'BRN',
 '10747': 'BRO',
 '10748': 'BRQ',
 '10749': 'BRR',
 '10750': 'BRS',
 '10751': 'BRT',
 '10752': 'BRU',
 '10753': 'BRV',
 '10754': 'BRW',
 '10755': 'BRX',
 '10756': 'BRY',
 '10757': 'BSA',
 '10758': 'BSB',
 '10759': 'BSD',
 '10760': 'BSG',
 '10761': 'BSK',
 '10762': 'MLH',
 '13366': 'MLH',
 '10764': 'BSO',
 '10765': 'BSQ',
 '10766': 'BSR',
 '10767': 'BSS',
 '10768': 'BSU',
 '10769': 'BSW',
 '10770': 'BSZ',
 '10771': 'BTA',
 '10772': 'BTC',
 '10773': 'BTE',
 '10774': 'BTH',
 '10775': 'BTI',
 '10776': 'BTJ',
 '10777': 'BTK',
 '10778': 'BTL',
 '10779': 'BTM',
 '10780': 'BTP',
 '10781': 'BTR',
 '10782': 'BTS',
 '10783': 'BTT',
 '10784': 'BTU',
 '10785': 'BTV',
 '10786': 'BTY',
 '10787': 'BTZ',
 '10788': 'BUA',
 '10789': 'BUC',
 '10790': 'BUD',
 '10791': 'BUE',
 '10792': 'BUF',
 '10793': 'BUG',
 '10794': 'BUH',
 '10795': 'BUL',
 '10796': 'BUM',
 '10797': 'BUN',
 '10798': 'BUO',
 '10799': 'BUQ',
 '10800': 'BUR',
 '10801': 'BUS',
 '10802': 'BUU',
 '10803': 'BUV',
 '10804': 'BUX',
 '10805': 'BUY',
 '10806': 'BUZ',
 '10807': 'BVA',
 '10808': 'BVB',
 '10809': 'BVD',
 '10810': 'BVI',
 '10811': 'BVO',
 '10812': 'BVR',
 '10814': 'BVX',
 '10815': 'BVY',
 '10816': 'BWA',
 '10817': 'BWD',
 '10818': 'BWE',
 '10819': 'BWG',
 '10820': 'BWH',
 '10821': 'BWI',
 '10822': 'BWJ',
 '10823': 'BWM',
 '10824': 'BWN',
 '10825': 'BWS',
 '10826': 'WNY',
 '10827': 'BWY',
 '10828': 'BXC',
 '10829': 'BXD',
 '10830': 'BXE',
 '10832': 'BXS',
 '10833': 'BXU',
 '10834': 'BYA',
 '10835': 'BYC',
 '10836': 'RKH',
 '10837': 'BYG',
 '10838': 'BYH',
 '10839': 'BYI',
 '10840': 'BYK',
 '10841': 'MI5',
 '10842': 'BYT',
 '10843': 'BYU',
 '10844': 'BYW',
 '10845': 'BZA',
 '10846': 'BZE',
 '10847': 'BZG',
 '10848': 'BZI',
 '10849': 'BZN',
 '10850': 'BZO',
 '10851': 'BZR',
 '10852': 'BZS',
 '10853': 'BZT',
 '10854': 'BZV',
 '10856': 'BZZ',
 '10857': 'C01',
 '10858': 'C02',
 '10859': 'CA1',
 '10860': 'CA2',
 '10861': 'CA3',
 '10862': 'CA4',
 '10863': 'CA5',
 '10865': 'CAB',
 '10866': 'CAC',
 '10867': 'CAD',
 '10868': 'CAE',
 '10869': 'CAF',
 '10870': 'CAG',
 '10871': 'CAH',
 '10872': 'CAI',
 '10873': 'CAJ',
 '10874': 'CAK',
 '10875': 'CAL',
 '10876': 'CAM',
 '10877': 'CAN',
 '10878': 'CAP',
 '10879': 'CAR',
 '10880': 'CAS',
 '10881': 'NET',
 '13652': 'NET',
 '10882': 'CAW',
 '10883': 'CAX',
 '10884': 'CAY',
 '10885': 'CAZ',
 '10886': 'CBA',
 '10887': 'CBB',
 '10888': 'CBE',
 '10889': 'CBF',
 '10890': 'CBG',
 '10891': 'CBH',
 '10892': 'CBK',
 '10893': 'CBL',
 '10894': 'CBM',
 '10895': 'CBO',
 '10896': 'CBQ',
 '10897': 'CBR',
 '10898': 'CBV',
 '10899': 'CBY',
 '10900': 'CCC',
 '10902': 'CCF',
 '10903': 'CCH',
 '10904': 'CCI',
 '10905': 'CCJ',
 '10906': 'CCK',
 '10907': 'CCM',
 '10908': 'CCN',
 '10909': 'CCP',
 '10910': 'CCR',
 '10911': 'CCS',
 '10912': 'CCU',
 '10914': 'CCX',
 '10915': 'CCY',
 '10916': 'CCZ',
 '10917': 'CDB',
 '10918': 'CDC',
 '10919': 'CDF',
 '10920': 'CDG',
 '10921': 'CDH',
 '10922': 'CDJ',
 '10923': 'CDL',
 '10924': 'CDN',
 '10925': 'CDR',
 '10926': 'CDV',
 '10927': 'CDW',
 '10928': 'CEA',
 '10929': 'CEB',
 '10930': 'CEC',
 '10931': 'CED',
 '10933': 'CEF',
 '10934': 'CEG',
 '10935': 'CEI',
 '10936': 'CEK',
 '10937': 'CEL',
 '10938': 'CEM',
 '10939': 'CEN',
 '10940': 'CEO',
 '10941': 'CEP',
 '10942': 'CEQ',
 '10943': 'CER',
 '10944': 'CET',
 '10945': 'CEU',
 '10946': 'CEV',
 '10947': 'CEW',
 '10948': 'CEX',
 '10949': 'CEY',
 '10950': 'CEZ',
 '10951': 'CFA',
 '10952': 'CFB',
 '10953': 'CFE',
 '10954': 'CFG',
 '10955': 'CFQ',
 '10956': 'CFR',
 '10957': 'CFS',
 '10958': 'CFT',
 '10959': 'CFU',
 '10960': 'CFV',
 '10961': 'CGA',
 '10962': 'CGB',
 '10963': 'CGC',
 '10964': 'CGE',
 '10965': 'CGF',
 '10966': 'CGH',
 '10967': 'CGI',
 '10968': 'CGK',
 '10969': 'CGM',
 '10970': 'CGN',
 '10971': 'CGO',
 '10972': 'CGP',
 '10974': 'CGR',
 '10975': 'CGS',
 '10976': 'CGU',
 '10977': 'CGX',
 '10978': 'CGY',
 '10979': 'CGZ',
 '10980': 'CHA',
 '10981': 'CHC',
 '10982': 'CHD',
 '10983': 'CHE',
 '10984': 'CHF',
 '10985': 'CHG',
 '10986': 'CHI',
 '10987': 'QCG',
 '10988': 'CHM',
 '10990': 'CHO',
 '10991': 'CHP',
 '10992': 'CHQ',
 '10993': 'CHR',
 '10994': 'CHS',
 '10995': 'CHT',
 '10996': 'CHU',
 '10997': 'CHW',
 '10998': 'CHX',
 '10999': 'CHZ',
 '11000': 'CIA',
 '11002': 'CIC',
 '11003': 'CID',
 '11004': 'CIG',
 '11005': 'CIH',
 '11006': 'CIJ',
 '11007': 'CIK',
 '11008': 'CIL',
 '11009': 'CIN',
 '11010': 'CIP',
 '11011': 'CIR',
 '11013': 'CIU',
 '11014': 'CIV',
 '11015': 'CIW',
 '11016': 'CIX',
 '11017': 'CIY',
 '11018': 'CJA',
 '11019': 'CJB',
 '11020': 'CJC',
 '11021': 'CJI',
 '11023': 'CJL',
 '11024': 'CJS',
 '11025': 'CJU',
 '11026': 'CJW',
 '11027': 'CKB',
 '11028': 'CKD',
 '11029': 'CKE',
 '11030': 'CKG',
 '11031': 'CKM',
 '11032': 'CUN',
 '11033': 'CKS',
 '11034': 'CKU',
 ...}

In [18]:
# replace ID numbers with corresponding IATA codes
flights_df['ORIGIN_AIRPORT'] = flights_df['ORIGIN_AIRPORT'].replace(id_airports)
flights_df['DESTINATION_AIRPORT'] = flights_df['DESTINATION_AIRPORT'].replace(id_airports)

# check that all ID numbers were replace with corresponding IATA codes
flights_df[flights_df['DATE'].apply(lambda x: x.month) == 10]['ORIGIN_AIRPORT'].unique()

array(['SEA', 'SFO', 'LAS', 'LAX', 'SLC', 'ANC', 'DEN', 'PHX', 'FAI',
       'BQN', 'PSE', 'ABR', 'BIS', 'GRK', 'HNL', 'ORD', 'SAT', 'IAH',
       'EWR', 'BOS', 'MSP', 'GEG', 'XNA', 'OKC', 'COU', 'BNA', 'HOU',
       'SGF', 'STL', 'RDD', 'BSM', 'TUL', 'GNV', 'ONT', 'TUS', 'FSM',
       'DCA', 'PHL', 'MCO', 'TPA', 'FAR', 'SJT', 'ACT', 'FSD', 'DFW',
       'CLT', 'ORF', 'BWI', 'PIT', 'CLL', 'CHO', 'BJI', 'MAF', 'PIA',
       'MCI', 'DVL', 'HRL', 'MSY', 'PDX', 'VPS', 'BRO', 'TYR', 'LAW',
       'CHS', 'MFE', 'BUF', 'RDU', 'JAX', 'LWS', 'BTR', 'SPS', 'ICT',
       'SAV', 'GSO', 'MSN', 'GRB', 'ALB', 'OAK', 'MDW', 'MHT', 'RNO',
       'SMF', 'RIC', 'HSV', 'BOI', 'AGS', 'ABI', 'EUG', 'SBA', 'EAU',
       'DIK', 'MFR', 'JFK', 'SHV', 'DHN', 'CMH', 'LBB', 'ATL', 'PVD',
       'FNT', 'CRP', 'AEX', 'MGM', 'CWA', 'MKE', 'DTW', 'FLL', 'LGA',
       'BHM', 'HLN', 'SPI', 'BIL', 'CLE', 'SYR', 'ATW', 'TLH', 'DSM',
       'LCH', 'IAD', 'IND', 'ABQ', 'OMA', 'PBI', 'MEM', 'DAY', 'ELP',
       'ROC', 'CAE', 'MSO', 'MRY', 'RDM', 'LEX', 'VLD', 'BDL', 'GRR',
       'RSW', 'MIA', 'BTV', 'TVC', 'GSP', 'BFL', 'CAK', 'MLI', 'ABY',
       'AVL', 'GPT', 'CHA', 'HPN', 'PHF', 'ILM', 'BGM', 'CSG', 'ABE',
       'EWN', 'OAJ', 'LNK', 'CID', 'CRW', 'ERI', 'TTN', 'DAL', 'AMA',
       'PWM', 'SJU', 'FAT', 'SIT', 'ECP', 'LFT', 'AVP', 'JAN', 'SDF',
       'TRI', 'PSC', 'CVG', 'BZN', 'PNS', 'SRQ', 'FAY', 'LIT', 'MOB',
       'EVV', 'FWA', 'GRI', 'MHK', 'ACY', 'BMI', 'MLU', 'COS', 'CMX',
       'CPR', 'GCC', 'RKS', 'SMX', 'ESC', 'RAP', 'IMT', 'INL', 'GTF',
       'ACV', 'LAN', 'RST', 'SUX', 'ALO', 'TOL', 'ISN', 'EKO', 'PSP',
       'LAR', 'ISP', 'FCA', 'SBN', 'KOA', 'OGG', 'AZO', 'TYS', 'BQK',
       'SAN', 'SJC', 'DRO', 'MOT', 'LIH', 'GCK', 'SBP', 'ELM', 'TWF',
       'ITO', 'DLH', 'MLB', 'LSE', 'PAH', 'BPT', 'TXK', 'MDT', 'GUM',
       'CMI', 'DBQ', 'GJT', 'JMS', 'CIU', 'BTM', 'PLN', 'SGU', 'JLN',
       'HOB', 'JNU', 'SNA', 'GTR', 'ROW', 'MYR', 'LRD', 'SUN', 'PIB',
       'BUR', 'LGB', 'JAC', 'LBE', 'YUM', 'PIH', 'EYW', 'EGE', 'BRD',
       'ROA', 'SCE', 'HIB', 'SWF', 'RHI', 'MBS', 'DAB', 'IDA', 'MEI',
       'GFK', 'STT', 'SAF', 'BET', 'KTN', 'MQT', 'BGR', 'OTZ', 'ASE',
       'CDC', 'SCC', 'HYS', 'GGG', 'APN', 'FLG', 'WRG', 'MKG', 'ORH',
       'YAK', 'BRW', 'PSG', 'HDN', 'OME', 'COD', 'ACK', 'CDV', 'OTH',
       'MVY', 'STX', 'ADQ', 'ADK', 'UST', 'IAG', 'PPG', 'PBG', 'MTJ'],
      dtype=object)

In [31]:
# save the resulting cleaned flights data to pickle file
flights_df.to_pickle(os.path.abspath('./Data/flights.pkl'))

Last, but not least we check that all airports have complete details.

In [147]:
airports_df = pd.read_csv('./Data/csv/airports.csv')
flights_df = pd.read_pickle(os.path.abspath('./Data/flights.pkl'))

In [152]:
# Check that for all IATA codes airports present in flights data there are corresponding details in airport df

# check if the lists of unique IATA codes in origin and destination airport are the same
iata_diff = len(set(flights_df['ORIGIN_AIRPORT'].unique()).difference(set(flights_df['DESTINATION_AIRPORT'].unique())))
print('Both sets are the same: ', iata_diff == 0)

# find missing IATA code (if any) in the airport df and complete its details
missing_elem = pd.Series(flights_df['ORIGIN_AIRPORT'].unique())[~pd.Series(flights_df['ORIGIN_AIRPORT'].unique()).isin(airports_df.index)]
# complete airport df
airports_df = pd.concat([airports_df, airport_code_id[airport_code_id['IATA_CODE'] == missing_elem.values[0]][['IATA_CODE', 'AIRPORT', 'CITY', 'STATE']].set_index('IATA_CODE')])
airports_df.loc['BSM', 'COUNTRY'] = 'USA'
airports_df.loc['BSM', ['LATITUDE', 'LONGITUDE']] = [30.18999, -97.66866]

airports_df

Both sets are the same:  True

,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
IATA_CODE,,,,,,
ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...
WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597
BSM,Austin - Bergstrom International,Austin,TX,NaN,30.18999,-97.66866

In [ ]:
# save airports
airports_df.to_pickle(os.path.abspath('./Data/airports.pkl'))